# Build outputs
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

#Database
*.db*

# NuGet
packages/
*.nuget.props
*.nuget.targets

# Secrets & environment
appsettings.Development.json
appsettings.Local.json
secrets.json